# latex
*.acn
*.aux
*.ist
*.lof
*.log
*.lol
*.lot
*.out
*.toc

# reinforcement learning models
*.zip

# python cache
**/__pycache__/*

# python packages
**/myproject.egg-info/*

# tensorboard logs
**/pendulum_log/*

# gif figures
**/codes/scripts/bruce/figures/*
**/codes/scripts/pendulum/figures/*

# tmp directories
**/tmp/*

# research articles
**/articles/*

todo-master-thesis.txt
